@layer components {
  .app-container {
    min-height: 100vh;
    background-color: #121111;
    color: #e5e7eb;
  }

  ::selection {
    background-color: #14532d;
    color: white;
  }

  hr {
    height: 1px;
    margin: 1rem 0;
    border: 0;
    border-bottom: 1px solid #374151;
  }
}
