@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    font-family: 'Fira Code', monospace;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #121111;
    color: #e5e7eb;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121111;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7684;
}
